In [7]:
import sqlite3
import pandas as pd

In [2]:
try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "select sqlite_version();"
    cursor.execute(sqlite_select_query)
    record = cursor.fetchall()
    print("Версия базы данных SQLite: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных создана и успешно подключена к SQLite
Версия базы данных SQLite:  [('3.36.0',)]
Соединение с SQLite закрыто

In [3]:
try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    sqlite_create_table_query = '''CREATE TABLE sqlitedb_developers (
                                id INTEGER PRIMARY KEY,
                                name TEXT NOT NULL,
                                email text NOT NULL UNIQUE,
                                joining_date datetime,
                                salary REAL NOT NULL);'''

    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")
    cursor.execute(sqlite_create_table_query)
    sqlite_connection.commit()
    print("Таблица SQLite создана")

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Таблица SQLite создана
Соединение с SQLite закрыто

In [ ]:
###

In [ ]:
try:
    sqlite_connection = sqlite3.connect('trade_info.sqlite3')
    cursor = sqlite_connection.cursor()
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "select sqlite_version();"
    cursor.execute(sqlite_select_query)
    record = cursor.fetchall()
    print("Версия базы данных SQLite: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

In [11]:
from sqlite3 import connect
conn = connect(':memory:')

In [12]:
pd.read_sql('trade_info.sqlite3', conn)

DatabaseError: Execution failed on sql 'trade_info.sqlite3': near "trade_info": syntax error

In [16]:
pd.read_sql_table('sqlite_python.db', 'postgresql:///db_name')

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [17]:
from sqlalchemy import create_engine

In [22]:
engine=create_engine('postgresql+psycopg2://dmitryssd:urozidupa1012911@localhost/sqlite_python')
# df=pandas.read_sql_table("table_name",engine)

In [24]:
df=pd.read_sql_table('sqlite_python', engine)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [27]:
# import the modules
import pandas as pd 
from sqlalchemy import create_engine
  
# SQLAlchemy connectable
cnx = create_engine('sqlite:///sqlite_python.db').connect()
  
# table named 'contacts' will be returned as a dataframe.
df = pd.read_sql_table('sqlite_python', cnx)
print(df)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [28]:
# import pandas
# import sqlalchemy

# Create the engine to connect to the PostgreSQL database
engine = create_engine('postgresql://postgres:test1234@localhost:5432/sql-shack-demo')

# Read data from SQL table
sql_data = pd.read_sql_table('sqlite_python', engine)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [29]:
pd.read_sql("SELECT * FROM TestTable1", engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [30]:
!pwd

/home/dmitryssd/CODE_REPOS/prod_story/HW_02

In [ ]:
engine = create_engine('mysql+pymysql://home/dmitryssd/CODE_REPOS/prod_story/HW_02:@localhost:3306/sqlite_python.db')

In [34]:
import pandas as pd 
from sqlalchemy import create_engine

In [51]:
user = 'dmitryssd'
password = 'urozidupa1012911'
host = 'localhost'
port = '3306'
database = 'sqlite_python'
url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(user, password, host, port, database)

In [52]:
engine = create_engine(url)

In [53]:
df = pd.read_sql_table('sqlitedb_developers', engine)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [57]:
import pandas as pd 
from sqlalchemy import create_engine
  
# SQLAlchemy connectable
cnx = create_engine('sqlite:///contacts.db').connect()
  
# table named 'contacts' will be returned as a dataframe.
df = pd.read_sql_table('contacts', cnx)
print(df)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [67]:
import pandas as pd 
from sqlalchemy import create_engine
  
# SQLAlchemy connectable
cnx = create_engine('sqlite:///sqlite_python.db').connect()
  
# table named 'employee' will be returned as a dataframe.
# df = pd.read_sql_table('sqlitedb_developers', cnx)
df = pd.read_sql("SELECT * FROM sqlitedb_developers", cnx)
print(df)

AttributeError: 'Connection' object has no attribute 'cursor'

In [62]:
import pandas as pd 
from sqlalchemy import create_engine
  
# SQLAlchemy connectable
cnx = create_engine('sqlite:///trade_info.sqlite3').connect()
  
# table named 'employee' will be returned as a dataframe.
df = pd.read_sql_table('chart_data', cnx)
print(df)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [80]:
conn = sqlite3.connect('trade_info.sqlite3')
pd.read_sql('SELECT id, time FROM chart_data', conn)

        id      time
0        0  11:34:47
1        1  11:32:37
2        2  11:52:45
3        3  11:53:07
4        4  12:00:43
...    ...       ...
5503  5503  12:59:21
5504  5504  11:01:06
5505  5505  11:01:06
5506  5506  11:01:06
5507  5507  11:01:06

[5508 rows x 2 columns]

In [79]:
conn = sqlite3.connect('sqlite_python.db')
pd.read_sql('SELECT id, name, email FROM sqlitedb_developers', conn)

Empty DataFrame
Columns: [id, name, email]
Index: []

In [68]:
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
                  columns=['int_column', 'date_column'])
df.to_sql('test_data', conn)

In [69]:
pd.read_sql('SELECT int_column, date_column FROM test_data', conn)

   int_column date_column
0           0    10/11/12
1           1    12/11/10

In [71]:
pd.read_sql('SELECT int_column, date_column FROM test_data',
            conn,
            parse_dates={"date_column": {"format": "%d/%m/%y"}})

   int_column date_column
0           0  2012-11-10
1           1  2010-11-12

In [70]:
pd.read_sql('test_data', 'postgres:///db_name')

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:postgres

In [ ]:
con = sqlite3.connect('mydatabase.db')